keys.json
*.ipynb
imageslut_pics/*
edit_pics/*
__pycache__/*
generators/__pycache__/*
tools/__pycache__/*
loggy
nohup.out
.vscode/*
audios/*
transcripts/*
2022-07-21 21.49.14.png
bingus key.png
tesseract_test.py
testnotebooks/*
settings.json
logs/*
ocr/*
local_chatgpt_ltm.pickle
local_chatgpt_ltm.json
run.bat
.pylintrc
.gitignore
image slut.code-workspace
